# Entornos virtuales
.venv/
env/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyc

# Archivos temporales y resultados
temp_audio.mp3
*.txt
!requirements.txt
!packages.txt
*.mp4

# VS Code
.vscode/
.idea/

# Streamlit secret files
.streamlit/secrets.toml

#Demucs files
demucs_out/
temp_*.wav
temp_*.mp3
temp_*.mp4
